
@{
    ViewBag.Title = "Index";
}
@section scripts
{
    @Scripts.Render("~/customer/scripts")
}

<h2>Customer Home</h2>

<button id="hi"> Click me!</button>

<button id="getJson"> Get Json</button>

<div id="customerList">Empty</div>