@model DateTime

@{
    ViewBag.Title = "title";
}

<h2>Customer List (@Model)</h2>


<table>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>Customer Address</td>
    </tr>
</table>
